<div class="planet-card" id="planet1">
    <img src="{{image}}">
    <h3>{{name}}</h3>
    <p>Solar System: {{solarSystem}}</p>
    <a class='detail-btn' href='/planet/{{_id}}/details'>Details</a>
</div>